<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as itemAdder">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in itemAdder.toBuyServiceArray"> Buy
         {{item.quantity}} of {{item.name}}
         <button ng-click="itemAdder.shiftItem($index);">Bought</button>
       </li>
     </ul>
     <div ng-if="itemAdder.toBuyServiceArray.length == 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as itemAdded">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in itemAdded.boughtServiceArray"> Bought
         {{item.quantity}} of {{item.name}}
       </li>
     </ul>
     <div ng-if="itemAdded.boughtServiceArray.length == 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
