<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-app=calculateNameValue>
    <div ng-controller=calculatorNameValue>

      <div>Calculate your name value:</div>

      <input type="text"
      ng-model="name"
      ng-keyup="calculator();">

      <div>Your name value is {{nameValue}} </div>
    </div>

  </body>
</html>

















<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Angular JS test</title>
  </head>
  <body>
    <div ng-app="myNameCalculatormodule">
      <div ng-controller="MyNameCalculatorController">
        <h2>Calculate your name value:</h2>
        <div>
        <input type="text"
        ng-model="name"
        ng-keyup="displayResult();">
        </div>
        <div>The total value is: {{calculatedValue}}</div>
      </div>

    </div>

  </body>
</html> -->



















<!-- <!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">

    <script type="text/javascript"></script>
    <meta charset="utf-8">
    <title>My First Angular JS app</title>
  </head>
  <body ng-app="NameCalculator">
    <div ng-controller="NameCalculatorController">
      <div>Calculate your name value here:
        <input type="text"
          ng-model="name"
          ng-keyup="displayNumeric();">
      </div>
      <div>The total value is: {{totalValue}}</div>
    </div>
  </body>
</html> -->
